hetionet-v1.0.hetmat.tar.gz
metapath-dwpc-stats.tsv
hetionet-v1.0.hetmat/metagraph.json
hetionet-v1.0.hetmat/edges/AdG.sparse.npz
hetionet-v1.0.hetmat/edges/AeG.sparse.npz
hetionet-v1.0.hetmat/edges/AuG.sparse.npz
hetionet-v1.0.hetmat/edges/CbG.sparse.npz
hetionet-v1.0.hetmat/edges/CcSE.sparse.npz
hetionet-v1.0.hetmat/edges/CdG.sparse.npz
hetionet-v1.0.hetmat/edges/CpD.sparse.npz
hetionet-v1.0.hetmat/edges/CrC.sparse.npz
hetionet-v1.0.hetmat/edges/CtD.sparse.npz
hetionet-v1.0.hetmat/edges/CuG.sparse.npz
hetionet-v1.0.hetmat/edges/DaG.sparse.npz
hetionet-v1.0.hetmat/edges/DdG.sparse.npz
hetionet-v1.0.hetmat/edges/DlA.sparse.npz
hetionet-v1.0.hetmat/edges/DpS.sparse.npz
hetionet-v1.0.hetmat/edges/DrD.sparse.npz
hetionet-v1.0.hetmat/edges/DuG.sparse.npz
hetionet-v1.0.hetmat/edges/GcG.sparse.npz
hetionet-v1.0.hetmat/edges/GiG.sparse.npz
hetionet-v1.0.hetmat/edges/GpBP.sparse.npz
hetionet-v1.0.hetmat/edges/GpCC.sparse.npz
hetionet-v1.0.hetmat/edges/GpMF.sparse.npz
hetionet-v1.0.hetmat/edges/GpPW.sparse.npz
hetionet-v1.0.hetmat/edges/Gr>G.sparse.npz
hetionet-v1.0.hetmat/edges/PCiC.sparse.npz
hetionet-v1.0.hetmat/nodes/Anatomy.tsv
hetionet-v1.0.hetmat/nodes/Biological Process.tsv
hetionet-v1.0.hetmat/nodes/Cellular Component.tsv
hetionet-v1.0.hetmat/nodes/Compound.tsv
hetionet-v1.0.hetmat/nodes/Disease.tsv
hetionet-v1.0.hetmat/nodes/Gene.tsv
hetionet-v1.0.hetmat/nodes/Molecular Function.tsv
hetionet-v1.0.hetmat/nodes/Pathway.tsv
hetionet-v1.0.hetmat/nodes/Pharmacologic Class.tsv
hetionet-v1.0.hetmat/nodes/Side Effect.tsv
hetionet-v1.0.hetmat/nodes/Symptom.tsv
hetionet-v1.0.hetmat/path-counts/dwpc-0.0/GeAlD.sparse.npz
hetionet-v1.0.hetmat/path-counts/dwpc-0.0/SpDpS.sparse.npz
hetionet-v1.0.hetmat/path-counts/dwpc-0.5/GeAlD.sparse.npz
hetionet-v1.0.hetmat/path-counts/dwpc-0.5/SpDpS.sparse.npz
hetionet-v1.0.json.bz2
metagraph.json
edges/AdG.sparse.npz
edges/AeG.sparse.npz
edges/AuG.sparse.npz
edges/CbG.sparse.npz
edges/CcSE.sparse.npz
edges/CdG.sparse.npz
edges/CpD.sparse.npz
edges/CrC.sparse.npz
edges/CtD.sparse.npz
edges/CuG.sparse.npz
edges/DaG.sparse.npz
edges/DdG.sparse.npz
edges/DlA.sparse.npz
edges/DpS.sparse.npz
edges/DrD.sparse.npz
edges/DuG.sparse.npz
edges/GcG.sparse.npz
edges/GiG.sparse.npz
edges/GpBP.sparse.npz
edges/GpCC.sparse.npz
edges/GpMF.sparse.npz
edges/GpPW.sparse.npz
edges/Gr>G.sparse.npz
edges/PCiC.sparse.npz
hetionet-v1.0/edges/AdG.sparse.npz
hetionet-v1.0/edges/CrC.sparse.npz
hetionet-v1.0/edges/CtD.sparse.npz
hetionet-v1.0/edges/CuG.sparse.npz
hetionet-v1.0/edges/DpS.sparse.npz
hetionet-v1.0/edges/DrD.sparse.npz
hetionet-v1.0/edges/DuG.sparse.npz
hetionet-v1.0/edges/GpCC.sparse.npz
hetionet-v1.0/edges/GpPW.sparse.npz
hetionet-v1.0/nodes/Anatomy.tsv
hetionet-v1.0/nodes/Biological Process.tsv
hetionet-v1.0/nodes/Cellular Component.tsv
hetionet-v1.0/nodes/Compound.tsv
hetionet-v1.0/nodes/Disease.tsv
hetionet-v1.0/nodes/Gene.tsv
hetionet-v1.0/nodes/Molecular Function.tsv
hetionet-v1.0/nodes/Pathway.tsv
hetionet-v1.0/nodes/Pharmacologic Class.tsv
hetionet-v1.0/nodes/Side Effect.tsv
hetionet-v1.0/nodes/Symptom.tsv
hetionet-v1.0.hetmat/path-counts/dwpc-0.0/DrD.sparse.npz
hetionet-v1.0.hetmat/path-counts/dwpc-0.0/SpD.sparse.npz
hetionet-v1.0.hetmat/path-counts/dwpc-0.5/DrD.sparse.npz
hetionet-v1.0.hetmat/path-counts/dwpc-0.5/SpD.sparse.npz
nodes/Anatomy.tsv
nodes/Biological Process.tsv
nodes/Cellular Component.tsv
nodes/Compound.tsv
nodes/Disease.tsv
nodes/Gene.tsv
nodes/Molecular Function.tsv
nodes/Pathway.tsv
nodes/Pharmacologic Class.tsv
nodes/Side Effect.tsv
nodes/Symptom.tsv
permutations/001.hetmat/nodes
permutations/001.hetmat/edges/AdG.sparse.npz
permutations/001.hetmat/edges/AeG.sparse.npz
permutations/001.hetmat/edges/AuG.sparse.npz
permutations/001.hetmat/edges/CbG.sparse.npz
permutations/001.hetmat/edges/CcSE.sparse.npz
permutations/001.hetmat/edges/CdG.sparse.npz
permutations/001.hetmat/edges/CpD.sparse.npz
permutations/001.hetmat/edges/CrC.sparse.npz
permutations/001.hetmat/edges/CtD.sparse.npz
permutations/001.hetmat/edges/CuG.sparse.npz
permutations/001.hetmat/edges/DaG.sparse.npz
permutations/001.hetmat/edges/DdG.sparse.npz
permutations/001.hetmat/edges/DlA.sparse.npz
permutations/001.hetmat/edges/DpS.sparse.npz
permutations/001.hetmat/edges/DrD.sparse.npz
permutations/001.hetmat/edges/DuG.sparse.npz
permutations/001.hetmat/edges/GcG.sparse.npz
permutations/001.hetmat/edges/GiG.sparse.npz
permutations/001.hetmat/edges/GpBP.sparse.npz
permutations/001.hetmat/edges/GpCC.sparse.npz
permutations/001.hetmat/edges/GpMF.sparse.npz
permutations/001.hetmat/edges/GpPW.sparse.npz
permutations/001.hetmat/edges/Gr>G.sparse.npz
permutations/001.hetmat/edges/PCiC.sparse.npz
permutations/002.hetmat/nodes
permutations/002.hetmat/edges/AdG.sparse.npz
permutations/002.hetmat/edges/AeG.sparse.npz
permutations/002.hetmat/edges/AuG.sparse.npz
permutations/002.hetmat/edges/CbG.sparse.npz
permutations/002.hetmat/edges/CcSE.sparse.npz
permutations/002.hetmat/edges/CdG.sparse.npz
permutations/002.hetmat/edges/CpD.sparse.npz
permutations/002.hetmat/edges/CrC.sparse.npz
permutations/002.hetmat/edges/CtD.sparse.npz
permutations/002.hetmat/edges/CuG.sparse.npz
permutations/002.hetmat/edges/DaG.sparse.npz
permutations/002.hetmat/edges/DdG.sparse.npz
permutations/002.hetmat/edges/DlA.sparse.npz
permutations/002.hetmat/edges/DpS.sparse.npz
permutations/002.hetmat/edges/DrD.sparse.npz
permutations/002.hetmat/edges/DuG.sparse.npz
permutations/002.hetmat/edges/GcG.sparse.npz
permutations/002.hetmat/edges/GiG.sparse.npz
permutations/002.hetmat/edges/GpBP.sparse.npz
permutations/002.hetmat/edges/GpCC.sparse.npz
permutations/002.hetmat/edges/GpMF.sparse.npz
permutations/002.hetmat/edges/GpPW.sparse.npz
permutations/002.hetmat/edges/Gr>G.sparse.npz
permutations/002.hetmat/edges/PCiC.sparse.npz
permutations/003.hetmat/nodes
permutations/003.hetmat/edges/AdG.sparse.npz
permutations/003.hetmat/edges/AeG.sparse.npz
permutations/003.hetmat/edges/AuG.sparse.npz
permutations/003.hetmat/edges/CbG.sparse.npz
permutations/003.hetmat/edges/CcSE.sparse.npz
permutations/003.hetmat/edges/CdG.sparse.npz
permutations/003.hetmat/edges/CpD.sparse.npz
permutations/003.hetmat/edges/CrC.sparse.npz
permutations/003.hetmat/edges/CtD.sparse.npz
permutations/003.hetmat/edges/CuG.sparse.npz
permutations/003.hetmat/edges/DaG.sparse.npz
permutations/003.hetmat/edges/DdG.sparse.npz
permutations/003.hetmat/edges/DlA.sparse.npz
permutations/003.hetmat/edges/DpS.sparse.npz
permutations/003.hetmat/edges/DrD.sparse.npz
permutations/003.hetmat/edges/DuG.sparse.npz
permutations/003.hetmat/edges/GcG.sparse.npz
permutations/003.hetmat/edges/GiG.sparse.npz
permutations/003.hetmat/edges/GpBP.sparse.npz
permutations/003.hetmat/edges/GpCC.sparse.npz
permutations/003.hetmat/edges/GpMF.sparse.npz
permutations/003.hetmat/edges/GpPW.sparse.npz
permutations/003.hetmat/edges/Gr>G.sparse.npz
permutations/003.hetmat/edges/PCiC.sparse.npz
notebooks/edges/AdG.sparse.npz
notebooks/edges/AeG.sparse.npz
notebooks/edges/AuG.sparse.npz
notebooks/edges/CbG.sparse.npz
notebooks/edges/CcSE.sparse.npz
notebooks/edges/CdG.sparse.npz
notebooks/edges/CpD.sparse.npz
notebooks/edges/CrC.sparse.npz
notebooks/edges/CtD.sparse.npz
notebooks/edges/CuG.sparse.npz
notebooks/edges/DaG.sparse.npz
notebooks/edges/DdG.sparse.npz
notebooks/edges/DlA.sparse.npz
notebooks/edges/DpS.sparse.npz
notebooks/edges/DrD.sparse.npz
notebooks/edges/DuG.sparse.npz
notebooks/edges/GcG.sparse.npz
notebooks/edges/GiG.sparse.npz
notebooks/edges/GpBP.sparse.npz
notebooks/edges/GpCC.sparse.npz
notebooks/edges/GpMF.sparse.npz
notebooks/edges/GpPW.sparse.npz
notebooks/edges/Gr>G.sparse.npz
notebooks/edges/PCiC.sparse.npz
notebooks/nodes/Anatomy.tsv
notebooks/nodes/Biological Process.tsv
notebooks/nodes/Cellular Component.tsv
notebooks/nodes/Compound.tsv
notebooks/nodes/Disease.tsv
notebooks/nodes/Gene.tsv
notebooks/nodes/Molecular Function.tsv
notebooks/nodes/Pathway.tsv
notebooks/nodes/Pharmacologic Class.tsv
notebooks/nodes/Side Effect.tsv
notebooks/nodes/Symptom.tsv
environments/logs/create_env.log
environments/logs/error_create_env.log
data/nodes/Anatomy.tsv
data/nodes/Biological Process.tsv
data/nodes/Cellular Component.tsv
data/nodes/Compound.tsv
data/nodes/Disease.tsv
data/nodes/Gene.tsv
data/nodes/Molecular Function.tsv
data/nodes/Pathway.tsv
data/nodes/Pharmacologic Class.tsv
data/nodes/Side Effect.tsv
data/nodes/Symptom.tsv
data/edges/AdG.sparse.npz
data/edges/AeG.sparse.npz
data/edges/AuG.sparse.npz
data/edges/CbG.sparse.npz
data/edges/CcSE.sparse.npz
data/edges/CdG.sparse.npz
data/edges/CpD.sparse.npz
data/edges/CrC.sparse.npz
data/edges/CtD.sparse.npz
data/edges/CuG.sparse.npz
data/edges/DaG.sparse.npz
data/edges/DdG.sparse.npz
data/edges/DlA.sparse.npz
data/edges/DpS.sparse.npz
data/edges/DrD.sparse.npz
data/edges/DuG.sparse.npz
data/edges/GcG.sparse.npz
data/edges/GiG.sparse.npz
data/edges/GpBP.sparse.npz
data/edges/GpCC.sparse.npz
data/edges/GpMF.sparse.npz
data/edges/GpPW.sparse.npz
data/edges/Gr>G.sparse.npz
data/edges/PCiC.sparse.npz
data/permutations/000.hetmat/nodes
data/permutations/001.hetmat/nodes
data/permutations/001.hetmat/edges/AdG.sparse.npz
data/permutations/000.hetmat/edges/AdG.sparse.npz
data/permutations/000.hetmat/edges/AeG.sparse.npz
data/permutations/000.hetmat/edges/AuG.sparse.npz
data/permutations/000.hetmat/edges/CbG.sparse.npz
data/permutations/000.hetmat/edges/CcSE.sparse.npz
data/permutations/000.hetmat/edges/CdG.sparse.npz
data/permutations/000.hetmat/edges/CpD.sparse.npz
data/permutations/000.hetmat/edges/CrC.sparse.npz
data/permutations/000.hetmat/edges/CtD.sparse.npz
data/permutations/000.hetmat/edges/CuG.sparse.npz
data/permutations/000.hetmat/edges/DaG.sparse.npz
data/permutations/000.hetmat/edges/DdG.sparse.npz
data/permutations/000.hetmat/edges/DlA.sparse.npz
data/permutations/000.hetmat/edges/DpS.sparse.npz
data/permutations/000.hetmat/edges/DrD.sparse.npz
data/permutations/000.hetmat/edges/DuG.sparse.npz
data/permutations/000.hetmat/edges/GcG.sparse.npz
data/permutations/000.hetmat/edges/GiG.sparse.npz
data/permutations/000.hetmat/edges/GpBP.sparse.npz
data/permutations/000.hetmat/edges/GpCC.sparse.npz
data/permutations/000.hetmat/edges/GpMF.sparse.npz
data/permutations/000.hetmat/edges/GpPW.sparse.npz
data/permutations/000.hetmat/edges/Gr>G.sparse.npz
data/permutations/000.hetmat/edges/PCiC.sparse.npz
scripts/logs/error_create_hetmat.log
scripts/logs/output_create_hetmat.log
